* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

svg {
  height: 30em;
  width: 50em;
  border: 0.1em solid black;

  circle {
    fill: transparent;
    stroke: black;
    stroke-width: 0.02em;
  }

  g.samples circle {
    fill: black;
    stroke: transparent;
  }

  g.lines line {
    stroke: black;
    stroke-width: 0.02em;
  }
}

div.command {
  height: 10em;
  width: 50em;
  border: 0.1em solid black;

  padding: 0.5em;

  display: flex;
  flex-flow: column;
  gap: 1em;

  label {
    input {
      width: 100%;
    }
  }

  button {
    padding: 0.5em 1em;
    align-self: center;
    cursor: pointer;
  }
}
