$color: black;

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

svg {
  height: 30em;
  width: 50em;
  border: 0.1em solid $color;

  circle {
    fill: transparent;
    stroke: $color;
    stroke-width: 0.01em;
  }

  g.samples circle {
    fill: $color;
    stroke: transparent;
  }

  g.lines line {
    stroke: $color;
    stroke-width: 0.01em;
  }
}

div.command {
  height: 10em;
  width: 50em;
  border: 0.1em solid $color;

  padding: 0.5em;

  display: flex;
  flex-flow: column;
  gap: 1em;

  label {
    input {
      width: 100%;
    }
  }

  div.buttons {
    display: flex;
    justify-content: space-between;
    button {
      padding: 0.5em 1em;
      align-self: center;
      cursor: pointer;
    }
  }
}
